<div class="container mt-2">
  <ng-container *ngIf="customers.length != 0; else failureOrLoading">
  <div class="card">
    <div class="card-header">Customers</div>
    <div class="card-body">

      <div *ngIf="searchFormGroup">
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomer()">
          <div class="input-group">
            <label class="input-group-text" >name :</label>
            <input type="text" formControlName="name" class="form-control">
            <button class="btn btn-info">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>


      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Delete</th>
          <th>Accounts</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>
            <button (click)="handleDeleteCustomer(customer)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td>
            <button (click)="handleCustomerAccounts(customer)" class="btn btn-success">
              <i class="bi bi-eye"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </ng-container>

  <ng-template #failureOrLoading class="text-danger ">
    <div class="text-danger">
      <ng-container *ngIf="errorMessage; else loading">
        {{ errorMessage }}
      </ng-container>
    </div>
    <ng-template #loading>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
  </ng-template>
  </ng-template>

</div>



<!--
 other  methode
<div class="container mt-2">
  <div  *ngIf="errorMessage" class="text-danger">
    {{ errorMessage }}
  </div>
  <div class="card" *ngIf="customers.length !=0">
    <div class="card-header">Customers</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>
  -->
